.card {
    width: 900px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-right: auto;
    margin-left: 20px;
    margin-bottom: 20px;
}

.card h2 {
    margin-top: 0;
}

.card-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-like {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 1rem;
}

.icon-action {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 5px;
    font-size: 1.5rem;
}

.img-post img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.card-sub {
    margin-top: 10px;
}

.card-sub p {
    margin: 5px 0;
}

.comment-icon-num {
    display: flex;
    align-items: center;
}

.comments {
    margin-top: 10px;
}
